---

---

<style lang="scss">
    .artwork {
        background-color: #EFEFEF;
        height: 100vh;
        margin: 0px 1.6rem;
        padding: 1.6rem 3rem;
        border-radius: 0.8rem;

        .artwork-head{
            display: flex;
            justify-content: space-between;
            h2{

            }
            button{
                background-color: #EFEFEF;
                border: 1px solid #D0D0D0;
            }
        }

        .artwork-intro{
            h2{
                font-size: 6.4rem;
                max-width: 880px;
                margin: 9.6rem auto 6.4rem auto;
            }
        }
    }
</style>


<div class="artwork">

    <div class="artwork-head">
        <h2>Artwork</h2>
        <button>
            VIEW ALL
            <img src="/arrow.svg" alt="">
        </button>
    </div>

    <div class="artwork-intro">
        <h2>Animations, Graphics, <br> Frontend Design.</h2>
    </div>

</div>

<script>
    import { gsap } from "gsap";


</script>