---
const { title = "TITLE MISSING" } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/animated-nake/favicon.ico" />
    <!-- <link rel="stylesheet" href="./src/styles/base-style.css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

    <style is:global>
        @font-face {
            font-family: "uncut-sans";
            src: url("/animated-nake/fonts/Uncut-Sans-Variable.woff") format("woff");
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: "uncut-sans";
            src: url("/animated-nake/fonts/UncutSans-Book.woff") format("woff");
            font-weight: 350;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: "spline-sans-mono";
            src: url("/animated-nake/fonts/SplineSansMono-Regular.woff") format("woff");
            font-style: normal;
            font-display: swap;
        }

        html {
            font-size: 62.5%;
        }

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            box-sizing: border-box;
            color: black;
            font-family: "uncut-sans", sans-serif;
            font-weight: 350;
            font-size: 1.8rem;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
        }

        body {
            background-color: #1b1b1b;
        }
        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        p{
            font-size: 1.6rem;
            line-height: 2.4rem;
        }


    </style>

    <title>{title}</title>
</head>
