---
import Image from "astro/components/Image.astro";
import LightLogo from "../icons/light-nakecode-logo.svg";

const footLinks = [
    {
        name: "SERVICES",
        url: "#services",
    },
    {
        name: "ABOUT",
        url: "#about",
    },
    {
        name: "PORTFOLIO",
        url: "#portfolio",
    },
    {
        name: "CONTACT",
        url: "#contact",
    },
];
---

<style lang="scss">
    footer {
        background-color: #1b1b1b;
        border-top: 1px solid #3a3a3a;

        border-bottom: 4px solid #eb443a;
    }

    .center-panel,
    .right-panel {
        display: none;
    }

    .left-panel,
    .center-panel,
    .right-panel {
        padding: 1.4rem 1.2rem 2.4rem 1.6rem;
    }

    .foot-links {
        display: none;
    }

    .footer-logo {
        margin-bottom: 3.2rem;
    }

    h2 {
        font-size: 4.2rem;
        line-height: 4.2rem;
        letter-spacing: -2.1px;
        margin-bottom: 6.4rem;

        font-weight: 500;

        color: #c6c6c6;
    }

    p {
        color: #6b6b6b;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    @media screen and (min-width: 600px) {
        .footer {
            padding-left: 2.2rem;
        }

        p {
            max-width: 33.2rem;
        }

        .footer-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .left-panel,
        .center-panel,
        .right-panel {
            padding: 1.4rem 1.2rem 2.4rem 1.4rem;
        }
    }

    @media screen and (min-width: 900px) {
        .left-panel {
            border-right: 1px solid #3a3a3a;
        }
        .center-panel,
        .right-panel {
            display: block;
        }

        .left-panel,
        .center-panel,
        .right-panel {
            padding: 1.4rem 1.2rem 2.4rem 2.4rem;
        }
    }
</style>

<footer>
    <div class="foot-links">
        <ul class="menu-links" id="menuLinks" role="navigation">
            {
                footLinks.map((link) => (
                    <li>
                        <a href="${link.url}">{link.name}</a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div class="footer-content">
        <div class="left-panel">
            <Image class="footer-logo" src={LightLogo} alt="nakecode logo" />

            <h2>Nakecode</h2>

            <p>
                A dedicated team of developers are waiting to launch, accelerate
                and support your business
            </p>
        </div>

        <div class="center-panel">
            <p>&nbsp</p>
        </div>

        <div class="right-panel">
            <p>&nbsp</p>
        </div>
    </div>
</footer>
