---

---

<style lang="scss">
    .herobox {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #EFEFEF;
        z-index: 1;

        h1 {
            font-size: 4.8rem;
            text-align: center;
            line-height: 6.4rem;
            position: relative;
             z-index: 2;
        }

        .hero-bg {
            display: flex;
            position: absolute;
            bottom: 0;
            align-items: end;
            z-index: -1;

            >* {
                // border: 1px solid #D0D0D0;
                // border-bottom: 0px;
                height: 110vh;
                width: 180px;
                // transform-origin: center;
                outline: 1px black solid;
                /* inner stroke */
                outline-offset: -0.5px;
                /* negative border width + outline width */

            }
        }

    }

    @media screen and (min-width: 900px) {
        .herobox {
            h1 {
                font-size: 9.6rem;
            }
        }
    }
</style>


<div class="herobox">
    <h1 class="heading">Improve your <br> Digital presence <br> quality & performancee.</h1>

    <div class="hero-bg">
        <div class="box1">&nbsp</div>

        <div class="box2"></div>

        <div class="box3"></div>

        <div class="box4"></div>

        <div class="box5"></div>

        <div class="box6"></div>

        <div class="box7"></div>
    </div>
</div>

<script>
    import { gsap } from "gsap";

    const bgAnimation = gsap.timeline({ repeat: -1, yoyo: true, defaults: { duration: 2, ease:"none" } })


    bgAnimation.to(".box1", { height: "10vh" }, 0)
    bgAnimation.to(".box2", { height: "80vh" }, 0)
    bgAnimation.to(".box3", { height: "30vh" }, 0)
    bgAnimation.to(".box4", { height: "50vh" }, 0)
    bgAnimation.to(".box5", { height: "20vh" }, 0)
    bgAnimation.to(".box6", { height: "30vh" }, 0)
    bgAnimation.to(".box7", { height: "60vh" }, 0)


    bgAnimation.to(".box1", { height: "40vh" }, 2)
    bgAnimation.to(".box2", { height: "20vh" }, 2)
    bgAnimation.to(".box3", { height: "70vh" }, 2)
    bgAnimation.to(".box4", { height: "20vh" }, 2)
    bgAnimation.to(".box5", { height: "60vh" }, 2)
    bgAnimation.to(".box6", { height: "70vh" }, 2)
    bgAnimation.to(".box7", { height: "30vh" }, 2)

    bgAnimation.to(".box1", { height: "50vh" }, 4)
    bgAnimation.to(".box2", { height: "60vh" }, 4)
    bgAnimation.to(".box3", { height: "20vh" }, 4)
    bgAnimation.to(".box4", { height: "70vh" }, 4)
    bgAnimation.to(".box5", { height: "30vh" }, 4)
    bgAnimation.to(".box6", { height: "50vh" }, 4)
    bgAnimation.to(".box7", { height: "90vh" }, 4)

    bgAnimation.to(".box1", { height: "40vh" }, 6)
    bgAnimation.to(".box2", { height: "40vh" }, 6)
    bgAnimation.to(".box3", { height: "40vh" }, 6)
    bgAnimation.to(".box4", { height: "40vh" }, 6)
    bgAnimation.to(".box5", { height: "40vh" }, 6)
    bgAnimation.to(".box6", { height: "40vh" }, 6)
    bgAnimation.to(".box7", { height: "40vh" }, 6)

    bgAnimation.to(".box1", { y: "-29vh" }, 8)
    bgAnimation.to(".box2", { y: "-29vh" }, 8)
    bgAnimation.to(".box3", { y: "-29vh" }, 8)
    bgAnimation.to(".box4", { y: "-29vh" }, 8)
    bgAnimation.to(".box5", { y: "-29vh" }, 8)
    bgAnimation.to(".box6", { y: "-29vh" }, 8)
    bgAnimation.to(".box7", { y: "-29vh" }, 8)

    bgAnimation.to(".hero-bg", { gap: "6vh" }, 10)
    bgAnimation.to(".hero-bg > *", { borderRadius: "12px" }, 10)

    bgAnimation.to(".hero-bg", { gap: "0vh" }, 12)

    // bgAnimation.to(".box1", { x: "180px" }, 14)
    // bgAnimation.to(".box1", { x: "360px" }, 16)
    bgAnimation.to(".box1", { x: "540px" }, 12)

    // bgAnimation.to(".box2", { x: "180px" }, 16)
    bgAnimation.to(".box2", { x: "360px" }, 12)

    bgAnimation.to(".box3", { x: "180px" }, 12)

    bgAnimation.to(".box5", { x: "-180px" }, 12)

    // bgAnimation.to(".box6", { x: "-180px" }, 16)
    bgAnimation.to(".box6", { x: "-360px" }, 12)

    // bgAnimation.to(".box7", { x: "-180px" }, 14)
    // bgAnimation.to(".box7", { x: "-360px" }, 16)
    bgAnimation.to(".box7", { x: "-540px" }, 12)


    // bgAnimation.to(".box1", { display: "none" }, 18)
    // bgAnimation.to(".box2", { display: "none" }, 18)
    // bgAnimation.to(".box3", { display: "none" }, 18)

    // bgAnimation.to(".box5", { display: "none" }, 18)
    // bgAnimation.to(".box6", { display: "none" }, 18)
    // bgAnimation.to(".box7", { display: "none" }, 18)

    // bgAnimation.reverse(20)

    // bgAnimation.to(".box4", { outline:"none", border:"1px solid red" }, 18)
    // bgAnimation.to(".box4", { scaleX:8, scaleY:2 }, 20)


    // bgAnimation.to(".box1", { y: "-60vh" }, 20)
    // bgAnimation.to(".box2", { y: "-60vh" }, 20)
    // bgAnimation.to(".box3", { y: "-60vh" }, 20)
    // bgAnimation.to(".box4", { y: "-60vh" }, 20)
    // bgAnimation.to(".box5", { y: "-60vh" }, 20)
    // bgAnimation.to(".box6", { y: "-60vh" }, 20)
    // bgAnimation.to(".box7", { y: "-60vh" }, 20)

    console.log("hello")

</script>