---
import { Image } from "astro:assets";
import browser from "../assets/images/browser.svg";
import server from "../assets/images/server.svg";
import database from "../assets/images/database.svg";
---

<style lang="scss">
    .container {
        background-color: #efefef;
        margin: 0px 0.8rem;

        border-radius: 0.8rem;

        hr {
            border: 1px solid #d9d9d9;
        }

        .container-head {
            padding: 1.6rem 1.6rem;
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                display: flex;
                gap: 0.8rem;
                letter-spacing: -0.5px;

                span {
                    font-family: "spline-sans-mono";
                    color: #eb443a;
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                }
            }
        }

        .container-content {
            margin: 0 0.8rem;
            padding: 3.2rem 0 6.4rem 0;

            .container-intro {
                margin: 0 1.6rem;

                h2 {
                    font-size: 4rem;
                    line-height: 4.8rem;
                    letter-spacing: -1px;
                    color: #151515;
                }
            }

            .info {
                background-color: #eaeaea;
                padding: 1.6rem 0.8rem;
                border-radius: 0.8rem;
                margin: 3.2rem auto;
                max-width: 128rem;
                p {
                    font-size: 1rem;
                    color: #6b6b6b;
                    margin-bottom: 3.2rem;
                }

                .elements {
                    border: 1px dashed #c6c6c6;
                    border-radius: 0.8rem;
                    padding: 3.2rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 3.2rem;

                    .card {
                        text-align: center;
                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                padding: 0 0.8rem;
                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #6b6b6b;
                }
            }
        }
    }

    @media screen and (min-width: 600px) {
        .container {
            margin: 0 1rem;
            .container-content {
                .container-intro {
                    h2 {
                        font-size: 6rem;
                        line-height: 7.2rem;
                    }
                }
                .info {
                    .elements {
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 3.2rem;
                    }
                }

                .text {
                    flex-direction: row;
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        .container {
            margin: 0 2.4rem;
            .container-intro {
                position: relative;
                margin: 9.6rem 4.6rem;

                h2 {
                    margin-top: 9.6rem;
                    font-size: 6.4rem;
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                    width: 880px;
                }

                p {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            .container-content {
                .info {
                    .elements {
                        .card {
                            img {
                                width: 192px;
                                height: auto;
                            }
                        }
                    }
                }

                .text {
                    grid-template-columns: 1fr 1fr;
                    max-width: 880px;
                    margin: 0 auto;
                    h4 {
                        grid-column: span 2;
                    }
                }
            }
        }
    }

    // ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS

    // BROWSER

</style>

<div class="container">
    <div class="container-head">
        <h2><span>01</span>Web/App Development</h2>
    </div>
    <hr />

    <div class="container-content">
        <div class="container-intro">
            <h2>Improve the quality and performance</h2>
        </div>

        <div class="info">
            <p>FULL-STACK <br /> WEB/APP DEV</p>

            <div class="elements">
                <div class="card">
                    <Image src={browser} alt="browser" />
                    <p>BROWSER</p>
                </div>
                <div class="card">
                    <Image src={server} alt="server" />
                    <p>SERVER</p>
                </div>
                <div class="card">
                    <Image src={database} alt="database" />
                    <p>DATABASE</p>
                </div>
            </div>
        </div>

        <div class="text">
            <p class="final-text">
                At Nakecode we take care of establishing the three fundamental
                pillars that your website needs. From custom frameworks
                optimized for your project objectives to a simpler solutions
                like all-in-one platforms.
            </p>

            <p class="final-text">
                Our development services aren't limited to just creating and
                launching your website. As a small and dedicated team, we also
                supply you with the highest level of customer service for any
                future support and enhancements.
            </p>
        </div>
    </div>
</div>

<script>
    import { gsap } from "gsap";
</script>
