---
import BaseHead from "../sections/BaseHead.astro";
import Footer from "../sections/Footer.astro";
import Navbar from "../sections/Navbar.astro";
const { title } = Astro.props

---

<html lang="en">
<BaseHead title={title} />

<body>
    <Navbar/>
    <slot />

    <Footer/>
</body>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

</html>