---
import BaseHead from "../sections/BaseHead.astro";
import Footer from "../sections/Footer.astro";
import Navbar from "../sections/Navbar.astro";
const { title } = Astro.props

---

<html lang="en">
<BaseHead title={title} />

<body>
    <Navbar/>
    <slot />

    <Footer/>

</body>


</html>